:root {
  /* Prient theme */
  --main: #67a7cc;
  --primary: #acc9de;
  --secondary: #e1edf5;
  --near-white: #f5f8fa;
  --main-white: #ffffff;
  --main-black: #212121;
  --main-dark: #333333;
  --secondary-dark: #2d2d2d;
  --third-dark: #1a1a1a;
  --main-green: #0c6124;
  --dark-green: #073e17;
  --dark-green2: rgba(4, 44, 16);
  --background: linear-gradient(
    90deg,
    var(--main) 0%,
    var(--primary) 60%,
    var(--secondary) 100%
  );
  --background-dark: linear-gradient(
    90deg,
    var(--third-dark) 0%,
    var(--secondary-dark) 60%,
    var(--main-dark) 100%
  );
  --card-color: var(--secondary);
  --card-color-dark: rgba(255, 255, 255, 0.8);
  --alert-color: orange;
  --main-grey: #A5A5A7;
  --main-success: #82C19F;
  --button-main: #605DEC;
  --button-focus-main: #3D3ACE;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--main-black);
}

/* ページ全体のコンテナ */
.container-div {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 100%;
  padding: 2rem;
}

/* ヘッダのコンテナ */
#header-div {
}

/* ナビゲーションバー （Header）*/
.header-navbar {
  position: fixed;
}

.header-navbar .nav-link,
.navbar-brand {
  color: var(--main-black);
}

.header-navbar .nav-link.active {
  color: var(--main-white);
  font-weight: bolder;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* フッター */
footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

#footer-div {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
}

#footer-div-for-pages {
}

#footer-navbar-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* アラートメッセージ */
#alert-message {
  color: var(--alert-color);
}

/* ここからダークテーマ用設定 */
@media (prefers-color-scheme: dark) {
  body,
  html {
    background: var(--main-black);
    color: var(--main-white);
    min-height: 100%;
  }

  .navbar-nav .nav-link.active {
    color: var(--main);
  }

  .navbar-nav .nav-link,
  .navbar-brand {
    color: var(--main-white);
  }

  .navbar-nav .nav-link:hover {
    color: var(--card-color-dark);
  }
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  #footer-div {
    grid-template-columns: 1fr;
    justify-items: auto;
  }
}
