@import "./common.css";

/* profileページのBodyの大元のDiv */
#profile-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* profileページのForm */
#form-to-change-profile {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#div-for-inputs-of-form {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#div-for-alert {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--alert-color);
}

#profile-picture-div {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-picture-img {
  border-radius: 5%;
  cursor: pointer;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

#profile-picture {
  display: none;
}

#div-for-sex {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#div-for-terms {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bio-div {
  grid-column-start: 1;
  grid-column-end: 3;
}

#bio-input {
  width: 100%;
  height: 100px;
}

#div-for-buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#submit-button-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
}

.button-to-submit-update-of-profile {
  cursor: pointer;
  border: solid var(--main-success) 2px;
  border-radius: 5px;
  color: var(--main-white);
  background-color: var(--main-success);
  padding: 0.4rem 1rem;
}

.button-to-submit-update-of-profile:hover {
  filter: opacity(0.8);
}

.button-to-cancel-to-submit {
  cursor: pointer;
  border: solid var(--main-grey) 2px;
  border-radius: 5px;
  color: var(--main-white);
  background-color: var(--main-grey);
  padding: 0.4rem 1rem;
}

.button-to-cancel-to-submit:hover {
  filter: opacity(0.8);
}

#cancel-button-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
}

/* プロファイルページの過去投稿部分 */
#posts-div-of-profile {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  padding: 1rem;
}

.div-for-title-of-post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.title-of-post {
  font-size: x-large;
  margin: 0;
}

.div-for-title-of-post hr {
  margin: 0;
}